.img {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }

img {
    width: 200px;
    border-radius: 50%;
}

h1 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

h2 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

h3 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

ul li {
    font-family: "Arial", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

header {
    
}

body{
    background-color: 
}

.section1 {
    background-color: 
}

.section2 {
    background-color: #f3f3f3;
}
.personalinfo {
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.personalinfo h1 {
    font-family: "Arial", sans-serif;
    
}

.personalinfo ul {
    list-style-type: none;
    
}

.personalinfo li {
    display: inline;
}

.personalinfodetails{
    margin: auto;

}

.summary {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.summary h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.skills {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.skills h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
} 

.experience {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.experience h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.education {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.education h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.certifications {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.certifications h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}