.img {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }

img {
    width: 200px;
    border-radius: 50%;
}

h1 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

h2 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

h3 {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

ul li {
    font-family: "Arial", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    color: #0f2a51;
}

header {
    
}

body{
    background-color: #d3d1d8;
}

.section1 {
    background-color: #f3f3f3;
}
.personalinfo {
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.personalinfo h1 {
    font-family: "Arial", sans-serif;
}

.summary {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.summary h1 {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.skills {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.skills h1 {
    width: fit-content;
    height: fit-content;
    margin: auto;
} 